<html>
	<title>Home</title>
	<style>
			ul{
				list-style:none;
				text-align:center;
				padding-left:0;
			}
			li{
				list-style:none;
				display:inline-block;
			}
	</style>
	<body>
		<br>
		<div class="container">
    		<header class="d-flex justify-content-center">
      	<ul class="nav">
      		<li class="nav-item"><input type="button" value="Home" style="font-size:15px;border-radius:20px" onclick="location.href='/Home'"></li>
        		<li class="nav-item"><input type="button" value="TEMP/HUMI" style="font-size:15px;border-radius:20px" onclick="location.href='/TEMP'"></li>
        		<li class="nav-item"><input type="button" value="Doorlock" style="font-size:15px;border-radius:20px" onclick="location.href='/Doorlock'"></li>
        		<li class="nav-item"><input type="button" value="Login List" style="font-size:15px;border-radius:20px" id="Login" onclick="location.href='/LoginList'"></li>
				<li class="nav-item"><p>&nbsp;&nbsp;&nbsp;{{name}}&nbsp;님&nbsp;</p></li>
        		<li class="nav-item"><form action="/" method="post"><input type="submit" value="Logout" style="font-size:15px;border-radius:20px" name="submit"></form></li>
      	</ul>
  		</div>
		<script>
			if("{{name}}" != "admin"){
					document.getElementById("Login").style.visibility='hidden'
				}
		</script>
		<center><img src="https://images.pexels.com/photos/1525041/pexels-photo-1525041.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></center>
	</body>
	
</html>
